In [4]:
import pandas as pd
import numpy as np
import seaborn as sns

In [41]:
df = pd.read_csv("C:/jtp/month_business1.csv", encoding="cp949", low_memory=False)
df

,Unnamed: 0,pt_month,biz_nm,base_year_month,age,user_cnt,use_cnt,use_amt,pt_year
0,0,1,건강보조식품 소매업,250841343,50480.0,5637,5929,1541657006,2508401
1,1,1,골프장 운영업,202197402,43160.0,51901,56191,8442569972,2021964
2,2,1,과실 및 채소 소매업,1157134834,231290.0,110825,120605,10500189551,11571291
3,3,1,관광 민예품 및 선물용품 소매업,557790164,105110.0,55875,60275,2148348420,5577874
4,4,1,그외 기타 분류안된 오락관련 서비스업,20380801,3400.0,364,375,19299500,203807
...,...,...,...,...,...,...,...,...,...
497,497,12,"피자, 햄버거, 샌드위치 및 유사 음식점업",960030484,176800.0,318915,343174,4914319414,9599734
498,498,12,한식 음식점업,1895439904,353240.0,2498961,2675745,119420134072,18953272
499,499,12,호텔업,226434064,44460.0,46567,53342,18530139493,2264206
500,500,12,화장품 및 방향제 소매업,553968340,105130.0,55543,60489,3332289747,5539354
501,501,12,휴양콘도 운영업,235314692,45560.0,38538,45624,5497988579,2353007

In [42]:
df.tail(5)

,Unnamed: 0,pt_month,biz_nm,base_year_month,age,user_cnt,use_cnt,use_amt,pt_year
497,497,12,"피자, 햄버거, 샌드위치 및 유사 음식점업",960030484,176800.0,318915,343174,4914319414,9599734
498,498,12,한식 음식점업,1895439904,353240.0,2498961,2675745,119420134072,18953272
499,499,12,호텔업,226434064,44460.0,46567,53342,18530139493,2264206
500,500,12,화장품 및 방향제 소매업,553968340,105130.0,55543,60489,3332289747,5539354
501,501,12,휴양콘도 운영업,235314692,45560.0,38538,45624,5497988579,2353007

In [43]:
df_2 = df[df["pt_month"] == 2]
df_2

,Unnamed: 0,pt_month,biz_nm,base_year_month,age,user_cnt,use_cnt,use_amt,pt_year
41,41,2,건강보조식품 소매업,247212750,48750.0,5485,5716,1527309892,2472103
42,42,2,골프장 운영업,208656668,44050.0,50916,54567,8466213901,2086546
43,43,2,과실 및 채소 소매업,1117378274,222710.0,94726,103447,9526419182,11173672
44,44,2,관광 민예품 및 선물용품 소매업,544269194,101520.0,51679,55596,1852725724,5442638
45,45,2,그외 기타 분류안된 오락관련 서비스업,23408832,4000.0,416,425,21947000,234086
46,46,2,그외 기타 스포츠시설 운영업,88593278,16690.0,2508,3067,138682700,885924
47,47,2,그외 기타 종합 소매업,235304832,43960.0,116590,136302,12924794710,2353025
48,48,2,기타 갬블링 및 베팅업,1412414,0.0,56,66,279400000,14124
49,49,2,기타 대형 종합 소매업,200189684,36870.0,343237,392547,21479105040,2001877
50,50,2,기타 수상오락 서비스업,9689296,1460.0,84,85,8620151,96892
51,51,2,기타 외국식 음식점업,718028416,142070.0,60607,62818,2466977828,7180213
52,52,2,기타 주점업,404815712,82320.0,24911,26622,5127917634,4048117
53,53,2,기타음식료품위주종합소매업,616105806,125700.0,243802,275361,12102871569,6160997
54,54,2,내항 여객 운송업,54086036,10820.0,21164,21873,675483700,540855
55,55,2,마사지업,30876306,5740.0,343,365,45858010,308760
56,56,2,면세점,107560866,19480.0,249256,379770,26163098740,1075598
57,57,2,버스 운송업,605306,40.0,13,20,26894000,6053
58,58,2,비알콜 음료점업,1117197772,210820.0,302520,327055,3478796338,11171867
59,59,2,빵 및 과자류 소매업,1134951148,219330.0,340313,362226,5610708401,11349399
60,60,2,서양식 음식점업,1342428004,253320.0,358191,387482,9543241216,13424147
61,61,2,수산물 소매업,799551824,160060.0,71216,78175,7482627467,7995439
62,62,2,슈퍼마켓,1484075208,284260.0,1207763,1395193,42079887420,14840605
63,63,2,스포츠 및 레크레이션 용품 임대업,686138400,131320.0,72989,79359,9256561659,6861316
64,64,2,여관업,679475534,128610.0,96460,108093,12063865041,6794688
65,65,2,여행사업,146308550,25130.0,7700,8029,1267788931,1463071
66,66,2,욕탕업,537823230,107780.0,39749,42600,902412066,5378179
67,67,2,육류 소매업,784607976,158930.0,74602,79597,7057435605,7846002
68,68,2,일반유흥 주점업,386254328,74580.0,46987,51493,10779526058,3862505
69,69,2,일식 음식점업,955949174,189030.0,116317,118733,9026296524,9559397
70,70,2,자동차 임대업,216940450,40950.0,49065,49676,3739338913,2169383
71,71,2,전시 및 행사 대행업,479895656,91040.0,92342,102631,3130100530,4798909
72,72,2,정기 항공 운송업,29463292,5400.0,86488,87407,14510556394,294630
73,73,2,중식 음식점업,1053824644,206520.0,120370,125017,3911230071,10538142
74,74,2,차량용 가스 충전업,587450622,123140.0,47116,48723,3201481433,5874448
75,75,2,차량용 주유소 운영업,1272764914,258790.0,697218,730200,43885697673,12727523
76,76,2,체인화 편의점,1770038342,330660.0,2104298,2370794,20134631625,17700208
77,77,2,택시 운송업,403804,40.0,3,3,162200,4038
78,78,2,"피자, 햄버거, 샌드위치 및 유사 음식점업",927496892,172880.0,290692,310075,4223956955,9274877
79,79,2,한식 음식점업,1834605182,347030.0,2089235,2216295,95393168173,18345870
80,80,2,호텔업,223603216,42460.0,41376,47400,15023136772,2236010
81,81,2,화장품 및 방향제 소매업,536388216,101590.0,60790,67294,2984471836,5363829
82,82,2,휴양콘도 운영업,222193302,43800.0,37046,43629,4653660782,2221911

In [44]:
df_8 = df[df["pt_month"] == 8]
df_8

,Unnamed: 0,pt_month,biz_nm,base_year_month,age,user_cnt,use_cnt,use_amt,pt_year
292,292,8,건강보조식품 소매업,239955412,47360.0,4926,5174,1721149038,2399459
293,293,8,골프장 운영업,218960280,45910.0,89038,96560,15298191726,2189516
294,294,8,과실 및 채소 소매업,1173514120,232840.0,119302,130913,8365321490,11734676
295,295,8,관광 민예품 및 선물용품 소매업,640141076,118810.0,86680,94011,2970649318,6401157
296,296,8,그외 기타 분류안된 오락관련 서비스업,32494688,5610.0,1131,1235,36504470,324934
297,297,8,그외 기타 스포츠시설 운영업,103729612,19860.0,3688,4281,293981433,1037255
298,298,8,그외 기타 종합 소매업,224411396,42440.0,155466,186344,12081748320,2244025
299,299,8,기타 갬블링 및 베팅업,1412656,0.0,74,94,583300000,14126
300,300,8,기타 대형 종합 소매업,207659932,37990.0,417412,485146,24205988440,2076517
301,301,8,기타 수상오락 서비스업,31081332,4970.0,298,307,52704900,310801
302,302,8,기타 외국식 음식점업,768697872,151000.0,69015,72336,2590860253,7686674
303,303,8,기타 주점업,424201916,85820.0,26060,28084,5282876091,4241851
304,304,8,기타음식료품위주종합소매업,653256196,133020.0,368499,424524,16636371642,6532303
305,305,8,내항 여객 운송업,64579260,12830.0,45799,47204,1541213500,645767
306,306,8,마사지업,43994844,7840.0,487,513,57023600,439931
307,307,8,면세점,109985060,19320.0,301227,471840,34025111349,1099807
308,308,8,버스 운송업,403516,0.0,7,7,3250000,4035
309,309,8,비알콜 음료점업,1243158980,232330.0,463116,504970,5329687945,12431097
310,310,8,빵 및 과자류 소매업,1211465824,233300.0,412646,444651,6192964362,12114178
311,311,8,서양식 음식점업,1520051256,284490.0,596802,651503,15134009426,15199910
312,312,8,수산물 소매업,852444592,169910.0,88054,97924,7404288197,8524108
313,313,8,슈퍼마켓,1587634136,301910.0,1616431,1933858,53400132989,15875712
314,314,8,스포츠 및 레크레이션 용품 임대업,869595672,167050.0,97753,107683,8524237817,8695612
315,315,8,여관업,780997060,146370.0,150479,171443,18641116379,7809661
316,316,8,여행사업,174767028,30910.0,15256,15785,2473844883,1747601
317,317,8,욕탕업,460950372,90330.0,29123,32132,685329717,4609321
318,318,8,육류 소매업,837709308,168580.0,86979,93918,7311246652,8376761
319,319,8,일반유흥 주점업,406440212,79180.0,51596,57558,11604585617,4064241
320,320,8,일식 음식점업,1082714220,213620.0,174742,178816,12545475563,10826713
321,321,8,자동차 임대업,237122600,44370.0,74437,75045,8442105294,2371132
322,322,8,전시 및 행사 대행업,547922020,101310.0,151376,175251,5514376980,5479003
323,323,8,정기 항공 운송업,31280340,5710.0,91479,91934,14233880531,312791
324,324,8,중식 음식점업,1134571976,221230.0,165013,173069,5137306568,11345270
325,325,8,차량용 가스 충전업,515624640,106170.0,45016,46949,2377391417,5156042
326,326,8,차량용 주유소 운영업,1319422104,266420.0,916826,965481,50377700313,13193698
327,327,8,체인화 편의점,1922449208,355580.0,3372687,3894575,31315893457,19223730
328,328,8,택시 운송업,1614664,270.0,8,8,237300,16146
329,329,8,"피자, 햄버거, 샌드위치 및 유사 음식점업",996941420,185750.0,394076,425827,5616780117,9969019
330,330,8,한식 음식점업,1972893708,366520.0,2900846,3091918,128466561878,19728155
331,331,8,호텔업,244797604,46550.0,60324,70232,21318437554,2447879
332,332,8,화장품 및 방향제 소매업,586042832,110960.0,68470,75535,3440428978,5860196
333,333,8,휴양콘도 운영업,263367340,50240.0,76140,95383,9816823117,2633569

In [48]:
df_c1 = pd.concat([df_2,df_8])
df_c1

,Unnamed: 0,pt_month,biz_nm,base_year_month,age,user_cnt,use_cnt,use_amt,pt_year
41,41,2,건강보조식품 소매업,247212750,48750.0,5485,5716,1527309892,2472103
42,42,2,골프장 운영업,208656668,44050.0,50916,54567,8466213901,2086546
43,43,2,과실 및 채소 소매업,1117378274,222710.0,94726,103447,9526419182,11173672
44,44,2,관광 민예품 및 선물용품 소매업,544269194,101520.0,51679,55596,1852725724,5442638
45,45,2,그외 기타 분류안된 오락관련 서비스업,23408832,4000.0,416,425,21947000,234086
...,...,...,...,...,...,...,...,...,...
329,329,8,"피자, 햄버거, 샌드위치 및 유사 음식점업",996941420,185750.0,394076,425827,5616780117,9969019
330,330,8,한식 음식점업,1972893708,366520.0,2900846,3091918,128466561878,19728155
331,331,8,호텔업,244797604,46550.0,60324,70232,21318437554,2447879
332,332,8,화장품 및 방향제 소매업,586042832,110960.0,68470,75535,3440428978,5860196
333,333,8,휴양콘도 운영업,263367340,50240.0,76140,95383,9816823117,2633569

In [49]:
df_c1.head()

,Unnamed: 0,pt_month,biz_nm,base_year_month,age,user_cnt,use_cnt,use_amt,pt_year
41,41,2,건강보조식품 소매업,247212750,48750.0,5485,5716,1527309892,2472103
42,42,2,골프장 운영업,208656668,44050.0,50916,54567,8466213901,2086546
43,43,2,과실 및 채소 소매업,1117378274,222710.0,94726,103447,9526419182,11173672
44,44,2,관광 민예품 및 선물용품 소매업,544269194,101520.0,51679,55596,1852725724,5442638
45,45,2,그외 기타 분류안된 오락관련 서비스업,23408832,4000.0,416,425,21947000,234086

In [50]:
df_c1.to_csv("C:/jtp/df_c1.csv", header=True, index=False, encoding="cp949")

In [54]:
df_g1 = df.groupby('pt_month').get_group(2)
df_g1

,Unnamed: 0,pt_month,biz_nm,base_year_month,age,user_cnt,use_cnt,use_amt,pt_year
41,41,2,건강보조식품 소매업,247212750,48750.0,5485,5716,1527309892,2472103
42,42,2,골프장 운영업,208656668,44050.0,50916,54567,8466213901,2086546
43,43,2,과실 및 채소 소매업,1117378274,222710.0,94726,103447,9526419182,11173672
44,44,2,관광 민예품 및 선물용품 소매업,544269194,101520.0,51679,55596,1852725724,5442638
45,45,2,그외 기타 분류안된 오락관련 서비스업,23408832,4000.0,416,425,21947000,234086
46,46,2,그외 기타 스포츠시설 운영업,88593278,16690.0,2508,3067,138682700,885924
47,47,2,그외 기타 종합 소매업,235304832,43960.0,116590,136302,12924794710,2353025
48,48,2,기타 갬블링 및 베팅업,1412414,0.0,56,66,279400000,14124
49,49,2,기타 대형 종합 소매업,200189684,36870.0,343237,392547,21479105040,2001877
50,50,2,기타 수상오락 서비스업,9689296,1460.0,84,85,8620151,96892
51,51,2,기타 외국식 음식점업,718028416,142070.0,60607,62818,2466977828,7180213
52,52,2,기타 주점업,404815712,82320.0,24911,26622,5127917634,4048117
53,53,2,기타음식료품위주종합소매업,616105806,125700.0,243802,275361,12102871569,6160997
54,54,2,내항 여객 운송업,54086036,10820.0,21164,21873,675483700,540855
55,55,2,마사지업,30876306,5740.0,343,365,45858010,308760
56,56,2,면세점,107560866,19480.0,249256,379770,26163098740,1075598
57,57,2,버스 운송업,605306,40.0,13,20,26894000,6053
58,58,2,비알콜 음료점업,1117197772,210820.0,302520,327055,3478796338,11171867
59,59,2,빵 및 과자류 소매업,1134951148,219330.0,340313,362226,5610708401,11349399
60,60,2,서양식 음식점업,1342428004,253320.0,358191,387482,9543241216,13424147
61,61,2,수산물 소매업,799551824,160060.0,71216,78175,7482627467,7995439
62,62,2,슈퍼마켓,1484075208,284260.0,1207763,1395193,42079887420,14840605
63,63,2,스포츠 및 레크레이션 용품 임대업,686138400,131320.0,72989,79359,9256561659,6861316
64,64,2,여관업,679475534,128610.0,96460,108093,12063865041,6794688
65,65,2,여행사업,146308550,25130.0,7700,8029,1267788931,1463071
66,66,2,욕탕업,537823230,107780.0,39749,42600,902412066,5378179
67,67,2,육류 소매업,784607976,158930.0,74602,79597,7057435605,7846002
68,68,2,일반유흥 주점업,386254328,74580.0,46987,51493,10779526058,3862505
69,69,2,일식 음식점업,955949174,189030.0,116317,118733,9026296524,9559397
70,70,2,자동차 임대업,216940450,40950.0,49065,49676,3739338913,2169383
71,71,2,전시 및 행사 대행업,479895656,91040.0,92342,102631,3130100530,4798909
72,72,2,정기 항공 운송업,29463292,5400.0,86488,87407,14510556394,294630
73,73,2,중식 음식점업,1053824644,206520.0,120370,125017,3911230071,10538142
74,74,2,차량용 가스 충전업,587450622,123140.0,47116,48723,3201481433,5874448
75,75,2,차량용 주유소 운영업,1272764914,258790.0,697218,730200,43885697673,12727523
76,76,2,체인화 편의점,1770038342,330660.0,2104298,2370794,20134631625,17700208
77,77,2,택시 운송업,403804,40.0,3,3,162200,4038
78,78,2,"피자, 햄버거, 샌드위치 및 유사 음식점업",927496892,172880.0,290692,310075,4223956955,9274877
79,79,2,한식 음식점업,1834605182,347030.0,2089235,2216295,95393168173,18345870
80,80,2,호텔업,223603216,42460.0,41376,47400,15023136772,2236010
81,81,2,화장품 및 방향제 소매업,536388216,101590.0,60790,67294,2984471836,5363829
82,82,2,휴양콘도 운영업,222193302,43800.0,37046,43629,4653660782,2221911

In [55]:
df_g2 = df.groupby('pt_month').get_group(8)
df_g2

,Unnamed: 0,pt_month,biz_nm,base_year_month,age,user_cnt,use_cnt,use_amt,pt_year
292,292,8,건강보조식품 소매업,239955412,47360.0,4926,5174,1721149038,2399459
293,293,8,골프장 운영업,218960280,45910.0,89038,96560,15298191726,2189516
294,294,8,과실 및 채소 소매업,1173514120,232840.0,119302,130913,8365321490,11734676
295,295,8,관광 민예품 및 선물용품 소매업,640141076,118810.0,86680,94011,2970649318,6401157
296,296,8,그외 기타 분류안된 오락관련 서비스업,32494688,5610.0,1131,1235,36504470,324934
297,297,8,그외 기타 스포츠시설 운영업,103729612,19860.0,3688,4281,293981433,1037255
298,298,8,그외 기타 종합 소매업,224411396,42440.0,155466,186344,12081748320,2244025
299,299,8,기타 갬블링 및 베팅업,1412656,0.0,74,94,583300000,14126
300,300,8,기타 대형 종합 소매업,207659932,37990.0,417412,485146,24205988440,2076517
301,301,8,기타 수상오락 서비스업,31081332,4970.0,298,307,52704900,310801
302,302,8,기타 외국식 음식점업,768697872,151000.0,69015,72336,2590860253,7686674
303,303,8,기타 주점업,424201916,85820.0,26060,28084,5282876091,4241851
304,304,8,기타음식료품위주종합소매업,653256196,133020.0,368499,424524,16636371642,6532303
305,305,8,내항 여객 운송업,64579260,12830.0,45799,47204,1541213500,645767
306,306,8,마사지업,43994844,7840.0,487,513,57023600,439931
307,307,8,면세점,109985060,19320.0,301227,471840,34025111349,1099807
308,308,8,버스 운송업,403516,0.0,7,7,3250000,4035
309,309,8,비알콜 음료점업,1243158980,232330.0,463116,504970,5329687945,12431097
310,310,8,빵 및 과자류 소매업,1211465824,233300.0,412646,444651,6192964362,12114178
311,311,8,서양식 음식점업,1520051256,284490.0,596802,651503,15134009426,15199910
312,312,8,수산물 소매업,852444592,169910.0,88054,97924,7404288197,8524108
313,313,8,슈퍼마켓,1587634136,301910.0,1616431,1933858,53400132989,15875712
314,314,8,스포츠 및 레크레이션 용품 임대업,869595672,167050.0,97753,107683,8524237817,8695612
315,315,8,여관업,780997060,146370.0,150479,171443,18641116379,7809661
316,316,8,여행사업,174767028,30910.0,15256,15785,2473844883,1747601
317,317,8,욕탕업,460950372,90330.0,29123,32132,685329717,4609321
318,318,8,육류 소매업,837709308,168580.0,86979,93918,7311246652,8376761
319,319,8,일반유흥 주점업,406440212,79180.0,51596,57558,11604585617,4064241
320,320,8,일식 음식점업,1082714220,213620.0,174742,178816,12545475563,10826713
321,321,8,자동차 임대업,237122600,44370.0,74437,75045,8442105294,2371132
322,322,8,전시 및 행사 대행업,547922020,101310.0,151376,175251,5514376980,5479003
323,323,8,정기 항공 운송업,31280340,5710.0,91479,91934,14233880531,312791
324,324,8,중식 음식점업,1134571976,221230.0,165013,173069,5137306568,11345270
325,325,8,차량용 가스 충전업,515624640,106170.0,45016,46949,2377391417,5156042
326,326,8,차량용 주유소 운영업,1319422104,266420.0,916826,965481,50377700313,13193698
327,327,8,체인화 편의점,1922449208,355580.0,3372687,3894575,31315893457,19223730
328,328,8,택시 운송업,1614664,270.0,8,8,237300,16146
329,329,8,"피자, 햄버거, 샌드위치 및 유사 음식점업",996941420,185750.0,394076,425827,5616780117,9969019
330,330,8,한식 음식점업,1972893708,366520.0,2900846,3091918,128466561878,19728155
331,331,8,호텔업,244797604,46550.0,60324,70232,21318437554,2447879
332,332,8,화장품 및 방향제 소매업,586042832,110960.0,68470,75535,3440428978,5860196
333,333,8,휴양콘도 운영업,263367340,50240.0,76140,95383,9816823117,2633569

In [56]:
df_g = pd.concat([df_g1, df_g2])
df_g

,Unnamed: 0,pt_month,biz_nm,base_year_month,age,user_cnt,use_cnt,use_amt,pt_year
41,41,2,건강보조식품 소매업,247212750,48750.0,5485,5716,1527309892,2472103
42,42,2,골프장 운영업,208656668,44050.0,50916,54567,8466213901,2086546
43,43,2,과실 및 채소 소매업,1117378274,222710.0,94726,103447,9526419182,11173672
44,44,2,관광 민예품 및 선물용품 소매업,544269194,101520.0,51679,55596,1852725724,5442638
45,45,2,그외 기타 분류안된 오락관련 서비스업,23408832,4000.0,416,425,21947000,234086
...,...,...,...,...,...,...,...,...,...
329,329,8,"피자, 햄버거, 샌드위치 및 유사 음식점업",996941420,185750.0,394076,425827,5616780117,9969019
330,330,8,한식 음식점업,1972893708,366520.0,2900846,3091918,128466561878,19728155
331,331,8,호텔업,244797604,46550.0,60324,70232,21318437554,2447879
332,332,8,화장품 및 방향제 소매업,586042832,110960.0,68470,75535,3440428978,5860196
333,333,8,휴양콘도 운영업,263367340,50240.0,76140,95383,9816823117,2633569

In [58]:
df_i1 = df_g.iloc[:,1:3]
df_i1

     pt_month                   biz_nm
41          2               건강보조식품 소매업
42          2                  골프장 운영업
43          2              과실 및 채소 소매업
44          2        관광 민예품 및 선물용품 소매업
45          2     그외 기타 분류안된 오락관련 서비스업
..        ...                      ...
329         8  피자, 햄버거, 샌드위치 및 유사 음식점업
330         8                  한식 음식점업
331         8                      호텔업
332         8            화장품 및 방향제 소매업
333         8                 휴양콘도 운영업

[84 rows x 2 columns]

In [62]:
df_i2 = df_g.iloc[:,7:8]
df_i2

          use_amt
41     1527309892
42     8466213901
43     9526419182
44     1852725724
45       21947000
..            ...
329    5616780117
330  128466561878
331   21318437554
332    3440428978
333    9816823117

[84 rows x 1 columns]

In [64]:
df_i = pd.concat([df_i1, df_i2])
df_i

     pt_month                biz_nm       use_amt
41        2.0            건강보조식품 소매업           NaN
42        2.0               골프장 운영업           NaN
43        2.0           과실 및 채소 소매업           NaN
44        2.0     관광 민예품 및 선물용품 소매업           NaN
45        2.0  그외 기타 분류안된 오락관련 서비스업           NaN
..        ...                   ...           ...
329       NaN                   NaN  5.616780e+09
330       NaN                   NaN  1.284666e+11
331       NaN                   NaN  2.131844e+10
332       NaN                   NaN  3.440429e+09
333       NaN                   NaN  9.816823e+09

[168 rows x 3 columns]