In [2]:
#Python Indentation

In [7]:
#들여쓰기는 함수 몸체, 조건문 루프, 클래스 등 다양한 코드 블록을 표현
#들여쓰기로 탭을 사용할 수 있지만 권장하지 않으며, 스페이스를 이용하여 보통 4칸을 권장

In [8]:
a = True
if a:
    print("True")
else:
    print("False")

True

In [10]:
a = True
if a:
    print("True")
else:
    print("False")

True

In [11]:
#Code Block

In [12]:
a = True
if a:
    print("True")
    print("True End ...")
else:
    print("False")
print('End ...')

True
True End ...
End ...

In [13]:
#연산자

In [16]:
2 + 4 # 더하기

6

In [17]:
4 - 2 # 빼기

2

In [18]:
2 * 4 #곱하기

8

In [19]:
4 / 2 #나누기

2.0

In [20]:
4 ** 2 #제곱

16

In [25]:
7 / 2 #목

3.5

In [22]:
7 // 2 #정수몫

3

In [24]:
7 % 2 #나머지

1

In [26]:
#주석문
#ctrl + /
# 파이썬
# 주석문

In [28]:
#print()함수 사용
print("Hello Python World")
print('a', 1)
print('a', 1, sep=':')

Hello Python World
a 1
a:1

In [29]:
#python 변수
a = 10
b = 5
print(a,b)
한글변수 = 10
한글변수
a= b = 10
a
b

10 5

10

In [33]:
a,b=2, 4
a

2

In [34]:
b

4

In [35]:
a = 10; b = 5

In [36]:
a

10

In [37]:
b

5

In [38]:
#python 동적 타입
price = 1000
rate = 0.05
num_year = 5

In [41]:
type(rate)

float

In [42]:
type(price)

int

In [44]:
price = price * (1+rate)
price

1102.5

In [45]:
#python 객체
type("a")

str

In [46]:
type(1)

int

In [47]:
a = 1
a.bit_length()

1

In [48]:
st="hello"

In [49]:
#python 문자열
a = "파이썬"
a

'파이썬'

In [50]:
c = """
죽는 날까지 하늘을 우러러
한 점 부끄럽 없기를
잎새에 이는 바람에도
나는 괴로워 했다"""

In [51]:
c

'\n죽는 날까지 하늘을 우러러\n한 점 부끄럽 없기를\n잎새에 이는 바람에도\n나는 괴로워 했다'

In [52]:
'파이썬' + 3

TypeError: can only concatenate str (not "int") to str

In [53]:
d = '파이썬' + str(3)
d

'파이썬3'

In [55]:
e = '*' * 10
e

'**********'

In [56]:
#python 문자열 포맷팅
name, age, phone = '홍길동', 25, '010-111-2222'
소개 = "이름은 {} 이고, 나이는 {}세 이며, 전화번호는 {} 입니다.".format(name, age, phone)
소개

'이름은 홍길동 이고, 나이는 25세 이며, 전화번호는 010-111-2222 입니다.'

In [57]:
소개 = "이름은 {0} 이고, 나이는 {2}세 이며, 전화번호는 {1} 입니다.".format(name,phone,age)
소개

'이름은 홍길동 이고, 나이는 25세 이며, 전화번호는 010-111-2222 입니다.'

In [59]:
소개 = "이름은 {a} 이고, 나이는 {b}세 이며, 전화번호는 {c} 입니다.".format(c = phone, b = age, a = name)
소개

'이름은 홍길동 이고, 나이는 25세 이며, 전화번호는 010-111-2222 입니다.'

In [62]:
jan, dec = 1,12
print("한 해의 시작은 {:02d}월".format(jan)) #두자리수를 채우고 싶은데 십의자리수가 0이면 십의자리에 0도 출력
print("한 해의 마지막은 {:02d}월".format(dec)) #두자리수를 채우고 싶은데 십의자리수가 0이면 십의자리에 0도 출력

한 해의 시작은 01월
한 해의 마지막은 12월

In [63]:
val = 123456789
money = "{:,}"
money.format(val)

'123,456,789'

In [68]:
'{}, {:f}, {:.1f}, {:.2f}, {:.2%}'.format(3, 3, 3, 3.1475, 1/3)

'3, 3.000000, 3.0, 3.15, 33.33%'

In [69]:
#python문자열 indexing & slicing
a = 'HelloWorld!'

In [71]:
a[0]

'H'

In [72]:
a[5]

'W'

In [73]:
a[-1]

'!'

In [74]:
a[-2]

'd'

In [76]:
a[:5] #a[0:5]

'Hello'

In [77]:
a[5:]

'World!'

In [79]:
#문자열 변수[start:end-1:step]
b = '1-2-3-4-5'
b

'1-2-3-4-5'

In [80]:
b[0::2]

'12345'

In [81]:
b[::-1] #건너뛰는 값이 음수일 때는, 기본 시작점이 -1로 바뀐다.

'5-4-3-2-1'

In [82]:
b[::-2]

'54321'

In [83]:
# python 문자열 함수
# join:지정된 문자로 문자열들을 연결
# split:지정된 문자로 분할하여 리스트로 반환
# strip:지정된 문자열을 제거
# replace:특정 무낮열을 지정된 문자열로 대체
# startswith:지정된 문자열로 시작하는지 검사, true/false로 반환
# endswith:지정된 문자열로 끝나는지 검사, true/false로 반환
# count:특정 문자의 갯수
# index:특정 문자의 위치 index
# find:특정 문자열의 시작 위치 index
# caplitalize:단어의 첫 글자만 대문자로 반환
# upper:모든 문자열을 대문자로 반환
# lower:모든 문자열을 소문자로 반환

In [84]:
'-'.join('HelloWorldPython')

'H-e-l-l-o-W-o-r-l-d-P-y-t-h-o-n'

In [85]:
'-'.join('12345')

'1-2-3-4-5'

In [89]:
'Hello-World-Python'.split('-')

['Hello', 'World', 'Python']

In [90]:
'서울시 마포구 상암동 1585'.split()

['서울시', '마포구', '상암동', '1585']

In [92]:
text = '\t 문자열 정리     \n'
text.strip()

'문자열 정리'

In [93]:
생일 = '2016/08/30'
생일.replace('/','-')

'2016-08-30'

In [94]:
'Hello World Python'.startswith('Hello')

True

In [95]:
'Hello World Python'.startswith('Python')

False

In [96]:
'Python' in 'Hello World Python'

True

In [97]:
'Java' in 'Hello World Python'

False

In [98]:
text = 'Hello World Python'
text.count('o')

3

In [99]:
text = 'Hello World Python, Welcome to Python World'
text.count('Python')

2

In [100]:
text.index('o') # text.indext('o', 5) >> 첫번째 o가 아닌 그 이후, 즉 5번째 자리부터 'o'을 찾아라

4

In [101]:
text.find('Python')

12

In [102]:
text.find('Python', 20)

31

In [103]:
'Hello World'.capitalize()

'Hello world'

In [104]:
'Hello World'.lower()

'hello world'

In [105]:
'Hello World'.upper()

'HELLO WORLD'

In [110]:
num = 3
for i in range(1, 10):
        answer = num * i
        print(f'{num} * {i} = {answer}')

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

In [109]:
for i in range(2, 10):
    for j in range(1, 10):
        answer = i * j
        print(f'{i} * {j} = {answer}')

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [111]:
#Python 조건문
a = 3
b = 2
if a > b :
    print('TRUE')

TRUE

In [112]:
if a < b :
    print("Yes")
    print("a")
else:
    print("No")
    print("b")

No
b

In [114]:
suffix = "png"

if suffix == "htm":
    content = "text/html"
elif suffix =="jpg":
    content = "image/jpeg"
elif suffix == "png":
    content = "image/png"
print(content)

image/png

In [116]:
#Python 반복문_while
a = 0 
while a < 5:
    print(a, '반복합니다.')
    a += 1 # a = a + 1

0 반복합니다.
1 반복합니다.
2 반복합니다.
3 반복합니다.
4 반복합니다.

In [117]:
#Python 반복문_for
for a in range(0,5):
    print(a, '반복합니다.')

0 반복합니다.
1 반복합니다.
2 반복합니다.
3 반복합니다.
4 반복합니다.

In [118]:
list(range(0,5))

[0, 1, 2, 3, 4]

In [120]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [121]:
list(range(0, 10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [122]:
list(range(0, 10, 2))

[0, 2, 4, 6, 8]

In [123]:
list(range(1,10,2))

[1, 3, 5, 7, 9]

In [124]:
list(range(10, 0))

[]

In [126]:
list(range(10, 0 ,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [127]:
list(range(10, 0, -2))

[10, 8, 6, 4, 2]

In [128]:
list(range(10, 0 , -3))

[10, 7, 4, 1]

In [130]:
num = list(range(1,11))
num

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [131]:
for i in num :
    print(i)

1
2
3
4
5
6
7
8
9
10

In [133]:
num = 3
for i in range(1,10):
    answer = num * i
    print(f'{num} * {i} = {answer}')

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

In [135]:
#Python 함수
def add():
    print("더하기 함수입니다.")
add()

더하기 함수입니다.

In [136]:
def add2(x,y):
    print(x + y)
add2(1,2)

3

In [138]:
def add3(x,y):
    return x + y
result = add3(1,2)
result

3

In [139]:
def square(x,y):
    x = x ** 2
    y * y ** 2
    return x, y
a,b = square(2,3)
print(a)
print(b)

4
3

In [141]:
#자료구조 - List
letters = ['A', 'B', 'C', 'D', 'E', 'F']
letters

['A', 'B', 'C', 'D', 'E', 'F']

In [142]:
letters[1]

'B'

In [143]:
letters[0]

'A'

In [144]:
letters[5]

'F'

In [163]:
letters.append('a')
letters.remove('a')
letters

['z', 'E', 'z', 'z', 'D', 'C', 'B', 'A', 'a']

In [169]:
letters.insert(2, 'z')
letters.remove('z')
letters

['E', 'z', 'z', 'z', 'z', 'D', 'C', 'B', 'A', 'a']

In [176]:
letters.pop(1)

'z'

In [177]:
letters

['E', 'D', 'C', 'B', 'A', 'a']

In [178]:
letters.remove('a')
letters

['E', 'D', 'C', 'B', 'A']

In [180]:
letters.insert(3, 'F')

In [181]:
letters.sort(reverse=True)
letters

['F', 'E', 'D', 'C', 'B', 'A']

In [183]:
letters.sort()
letters

['A', 'B', 'C', 'D', 'E', 'F']

In [184]:
#자료구조 - List indexing & slicing
letters = ['A', 'B', 'C', 'D', 'E', 'F']

In [185]:
letters[-1]

'F'

In [186]:
letters[-2]

'E'

In [187]:
letters[0:3]

['A', 'B', 'C']

In [188]:
letters[3:]

['D', 'E', 'F']

In [189]:
letters[:4]

['A', 'B', 'C', 'D']

In [190]:
letters[:]

['A', 'B', 'C', 'D', 'E', 'F']

In [191]:
letters[::2]

['A', 'C', 'E']

In [192]:
letters[::-1]

['F', 'E', 'D', 'C', 'B', 'A']

In [193]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [194]:
#List Comprehension
num10 = list(range(1,10))
[ x + 1 for x in num10]

[2, 3, 4, 5, 6, 7, 8, 9, 10]

In [195]:
for x in num10:
    if x % 2 == 0:
        print(x)

2
4
6
8

In [196]:
[x for x in num10 if x % 2 == 0]

[2, 4, 6, 8]

In [198]:
#Tuple
tuple1 = (1, 2, 3,)
tuple1

(1, 2, 3)

In [199]:
#Dictionary - 순서 상관없음
중간고사 = {
    "수학" : 100,
    "영어" : 90,
}
중간고사

{'수학': 100, '영어': 90}

In [200]:
중간고사['국어'] = 85
중간고사

{'수학': 100, '영어': 90, '국어': 85}

In [201]:
중간고사['영어']

90

In [202]:
list(중간고사.keys())

['수학', '영어', '국어']

In [203]:
list(중간고사.values())

[100, 90, 85]

In [204]:
for 과목, 점수 in 중간고사.items():
    print('{} 과목점수는 {} 점'.format(과목, 점수))

수학 과목점수는 100 점
영어 과목점수는 90 점
국어 과목점수는 85 점

In [205]:
중간고사['영어'] = 95
중간고사

{'수학': 100, '영어': 95, '국어': 85}